
#container {
      display: flex;
      gap: 20px;
    }

    #leftSide {
      width: 250px;
      padding: 10px;
    } 

    .box {
      padding: 10px;
      margin-bottom: 5px;
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
    }

    #controls {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }