body{
    background-color: antiquewhite;
    opacity: 0.1;
    background-repeat: repeat-x;
}




#para1{
    color : red;
    text-align: center;
}
h1{
    color : yellow;
    text-align : center; 
    border : 2px solid tomato;
}
flex-container{
    display: flex;
    align-items: center;
}